CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
conan.lock
conanbuildinfo.txt
conanbuildinfo_debug.cmake
conanbuildinfo_multi.cmake
conanbuildinfo_release.cmake
conaninfo.txt
graph_info.json
build/
__pycache__/
.vscode
slideio/pybind/dist/
*.egg-info/