CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
!doc/Makefile
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
conan.lock
conanbuildinfo.txt
conanbuildinfo_debug.cmake
conanbuildinfo_multi.cmake
conanbuildinfo_release.cmake
conaninfo.txt
graph_info.json
build/
build_py/
__pycache__/
.vscode
slideio/pybind/dist/
*.egg-info/
#python binding temporary folders
src/py-bind/conan/
src/py-bind/wheelhouse/
src/py-bind/dist/
doc/build/
_site/
**/.DS_Store
src/py-bind/slideio/core/libs/

### Conan ###
conan.lock
conanbuildinfo.*
conaninfo.txt
graph_info.json
Find*.cmake
deactivate_conan*.*
conandeps_legacy.cmake
*-config.cmake
*-release.cmake
*-config-version.cmake
*Targets.cmake
conan_toolchain.cmake
*Config.cmake
*ConfigVersion.cmake
conanrun.bat
conanbuildenv-release-*.*
conanbuild.*
*-release-*.cmake
cmakedeps_macros.cmake
CMakePresets.json
conanrunenv-release-*.*
### End Conan ###