name: Conan build and upload dependencies for linux
on: [workflow_dispatch]
jobs:
  build-linux:
    runs-on: ubuntu-20.04
    container:
      image: quay.io/pypa/manylinux2014_x86_64
      env:
        CONAN_REVISIONS_ENABLED: 1

    steps:
    - name: prepare system
      run: |
        yum update -y
        yum install -y wget
        yum install -y soci-sqlite3-devel.x86_64
        yum install -y gtk2-devel
        update-alternatives --install /usr/bin/python3 python3 /opt/python/cp38-cp38/bin/python3 10
        update-alternatives --install /usr/bin/pip3 pip3 /opt/python/cp38-cp38/bin/pip3 10
        yes | pip3 install numpy

    - name: install cmake
      run: |
        wget -qO- "https://github.com/Kitware/CMake/releases/download/v3.26.3/cmake-3.26.3-linux-x86_64.tar.gz"  | tar --strip-components=1 -xz -C /usr/local
        update-alternatives --install /usr/bin/cmake cmake /usr/local/bin/cmake 10
        update-alternatives --install /usr/bin/ccmake ccmake /usr/local/bin/ccmake 10

    - name: install conan
      run: |
        python3 -m pip install -U conan==1.59.0
        update-alternatives --install /usr/bin/conan conan /opt/python/cp38-cp38/bin/conan 10

    - name: Conan version
      run: echo "${{ steps.conan.outputs.version }}"

    - name: Add slideio conan remote
      run: |
        conan remote add slideio ${{ secrets.CONAN_REMOTE }}
        conan user -p ${{ secrets.CONAN_PASSWORD }} -r slideio ${{ secrets.CONAN_USER }}
      
    - name: Add digital ocean conan remote
      run: |
        conan remote add digitalo $CONAN_DO_SERVER
        conan user -p ${{ secrets.CONAN_DO_PASSWORD }} -r digitalo ${{ secrets.CONAN_DO_USER }}

    - name: Conan remote
      run: conan remote list

    - name: checkout
      uses: actions/checkout@v2
      with:
        submodules: 'true'
  
    - name: Install conan dependencies
      run: python3 install.py -a conan -c release
      
    - name: Upload packages to digiatal ocean
      run: conan upload "*" -r digitalo --all -c