name: Linux build slideio wheels

on: 
  workflow_dispatch:
    inputs:
      build-custom-packages:
        type: boolean
        default: true
        description: 'Build custom packages'
      upload-conan-packages:
        type: boolean
        default: false
        description: 'Upload conan packages'
jobs:
  build-linux:
    runs-on: ubuntu-latest
    container:
      image: booritas/slideio-manylinux_2_28_x86_64:2.7.4
      options: --user root
      env:
        CONAN_REVISIONS_ENABLED: 1
        CONAN_DISABLE_CHECK_COMPILER: 1
        CONAN_HOME: /root/.conan2
    steps:

    - name: checkout slideio
      uses: actions/checkout@v2
      with:
        submodules: 'true'
        ref: v2.7.0
        path: slideio 

    - name: chekout conan recipes
      uses: actions/checkout@v2
      if: ${{ inputs.build-custom-packages }}
      with:
        repository: Booritas/conan-center-index
        ref: v2.7.0
        path: conan-center-index

    - name: Add conan remote
      run: |
        conan remote add slideio ${{ secrets.CONAN_URL }}

    - name: build custom conan recepies
      if: ${{ inputs.build-custom-packages }}
      working-directory: ./slideio
      env:
          SLIDEIO_HOME: ${{ github.workspace }}/slideio
          CONAN_INDEX_HOME: ${{ github.workspace }}/conan-center-index
      shell: bash
      run: ./conan.sh
      
    - name: Install conan dependencies
      working-directory: ./slideio
      run: |
        python3 install.py -a conan -c release
   
    - name: Upload conan packages to conan server
      if: ${{ inputs.upload-conan-packages }}
      run: |
        conan remote login -p ${{ secrets.CONAN_PASSWORD }} slideio ${{ secrets.CONAN_USER }}
        conan upload -c "*" -r slideio
      continue-on-error: true

    - name: build python packages
      working-directory: ./slideio/src/py-bind
      run: bash ./build-wheels-linux.sh

    - name: Archive python packagess
      uses: actions/upload-artifact@v4
      with:
        name: python-dist
        path: |
          ./slideio/src/py-bind/wheelhouse
